html { 
    box-sizing: border-box;
    font-size: 62.5%; /** 1 rem = 10pi**/

}

*,*::before, ::after {
    box-sizing: inherit;
}   

body {
    background-color: #011627;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2;
}

a {
    text-decoration: none;
    color: #2b2b2b;

}

h2 {
    color: #ffffff;
}

.lista-pacotes img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 2rem;
}

.banner img {
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 9rem;
}

.banner-secundario img {
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 1.5rem;
}

button {
    background-color: #FF9F1C;
    color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
}

/*Header e menu*/

.header {
    background-image: url(Imgpaginainicial/backgroudmenu.png);
    height: 40rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.logo img {
    padding-top: 1rem;
    height: 5.5rem;
}

header .menu {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.menu li {
    display: inline;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 1rem 1.5rem;
    transition: background 0.3s;
}

header .menu li a:hover {
    background-color: #575757;
    border-radius: .5rem;
}

.login a {
    color: white;
    text-decoration: none;
    padding: 1rem 1.5rem;
    background-color: #FF9F1C;
    border-radius: 1rem;
    transition: background 0.3s;
}

.login a:hover {
    background-color: #FF9F1C;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

/*Sessão Formulario*/

.form-container {
    position: absolute;
    top: 40%;
    left: 5.5%;
    width: 1500px;
    height: 130px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

#search-form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group button {
    flex: none;
    padding: 10px 20px;
    background-color: #FF9F1C;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 50px;
    height: 60px; 
}

.form-group button:hover {
    background-color: #0056b3;
}

/*Sessão de promoção*/

.lista-pacotes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 1rem;
    gap: 3.5rem;
    
}

.pacotesbox {
    box-shadow: 0.5rem 0.5rem 1.8rem #342b50;
    border-radius: 2rem;
}


/*Sessão Hoteis*/

.pacotes-hoteis {
    margin-top: 8rem;
}

.lista-hoteis {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin-top: 8rem;
    column-gap: 2rem;
    row-gap: 2rem;
}

.hotel img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 2rem;
}

.hotel:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
}

.hotel:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
    display: grid;
}

.hotel:nth-child(3) {
    grid-column-start: 5;
    grid-column-end: 7;
    display: grid;
}

.hotel:nth-child(4) {
    grid-column-start: 7;
    grid-column-end: 13;
    display: grid;
    background-color: #011627;
}

.hotel:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    background-color: #011627;
}

.hotel:nth-child(6) {
    grid-column-start: 7;
    grid-column-end: 9;
    display: grid;
}

.hotel:nth-child(7) {
    grid-column-start: 9;
    grid-column-end: 11;
    display: grid;
}

.hotel:nth-child(8) {
    grid-column-start: 11;
    grid-column-end: 13;
    display: grid;
}

/*Grid pagina hoteis*/

.hotel:nth-child(9) {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
}

.hotel:nth-child(10) {
    grid-column-start: 3;
    grid-column-end: 5;
    display: grid;
}

.hotel:nth-child(11) {
    grid-column-start: 5;
    grid-column-end: 7;
    display: grid;
}

.hotel:nth-child(12) {
    grid-column-start: 7;
    grid-column-end: 9;
    display: grid;
}

.hotel:nth-child(13) {
    grid-column-start: 9;
    grid-column-end: 11;
    display: grid;
}

.hotel:nth-child(14) {
    grid-column-start: 11;
    grid-column-end: 13;
    display: grid;
}

.hotel {
    background-color: #ffffff;
    border-radius: 2rem;
}

.info {
    margin: 0rem;
}

.parcelamento {
    border-top: .1rem solid #d3d3d3;
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
}

.icon-star {
    width: 10rem;
    padding-left: .1rem;
}

.nome-destino {
    font-size: large;
    text-decoration-color: #000000; 
    padding-left: 1rem;
}

.hotel h3, h5, h4 {
    margin: 0rem;
    padding-left: 1rem;
}

.hotel h3 {
    margin-top: 1rem;
}

.hotel h5 {
    color: #575757;
}

.hotel h4 {
    color: #a7a7a7;
}

.preco {
   padding-left: 1rem;
}

.hotel p {
  color: #242424;
  margin: 0rem;
  padding-top: 4rem;
  padding-left: 1rem;
}

h4 span {
   color: #000000;
   font-size: x-large;
}

.explorar-btn {
   padding-left: 4rem;
}

.explorar-grid1 h2 {
   padding-top: 15rem;
   padding-left: 2rem;
}

.explorar-grid2 h2 {
    padding-top: 15rem;
 }

.btn-grid1 {
   padding-bottom: 15rem;
   padding-left: 2rem;
}

.btn-grid2 {
    padding-bottom: 15rem;
 }


 /*Sessão Parques*/

 .pacotes-parques {
    margin-top: 8rem;
 }

.parque {
    background-color: #ffffff;
    border-radius: 2rem;
}

 .lista-parques {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8rem;
    
 }

.parque img {
    border-radius: 2rem;
}

.parque h3, h4, h5, p {
    margin: 0rem;
    padding-left: 2rem;
}

.parque-btn {
    padding: 2rem 0rem 2rem 2rem;
}

.parque button {
    background-color: #2EC4B6;
    color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
}

/*Footer*/

footer {
    background-color: #ffffff;
    color: rgb(65, 65, 65);
    margin-top: 8rem;
    padding: 2rem 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.payment-methods {
    display: flex;
    flex-wrap: wrap;
}

.payment-methods img {
   display: flex;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
    margin-left: 4rem;
}

.menu-container {
    display: flex;
}

.menu {
    margin-right: 4rem;
}

.menu h3 {
    margin-bottom: 1rem;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 1rem;
}

.menu ul li a {
    color: rgb(71, 71, 71);
    text-decoration: none;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    margin-top: 2rem;
}

.social-icons a {
    margin-right: 1rem;
}

.social-icons img {
    width: 3rem;
}

.direitosreservados {
    display: flex;
    margin-top: 2rem;
    border-top: .1rem #ebc000 solid;
    padding-top: 1rem;
    justify-content: center;

}

.direitosreservados p {
    color: #000000;
}


/*Página do Pacote*/

  .imagens-pacotes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
  }
 
  h1, h2 {
    margin-bottom: 20px;
  }
  
  .product-main {
    display: flex;
    margin-bottom: 20px;
  }
  
  .product-images img {
    width: 32%;
    margin-right: 2%;
    border-radius: 5px;
  }
  
  .product-purchase {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    height: 230px;
  }
  
  .product-purchase .purchase-info span {
    display: block;
    margin-bottom: 10px;
  }
  
  .product-purchase .price {
    text-align: right;
    font-size: 24px;
    color: #ff6600;
  }
  
  
  .btn {
    background-color: #E71D36;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 18px;
  }
  
  .btn:hover {
    background-color: #cc5200;
  }
  
  .product-details, .product-description, .map {
    margin-bottom: 20px;
  }
  
  .product-description {
    width: 700px; 
  }

  .details-columns {
    display: flex;
    gap: 100px;
    height: 200px;
  }
  
  .product-description ul, .product-description p {
    margin-bottom: 20px;
  }

  .detalhes-pacote h3, p, li {
    color: #ffffff;

  }

  .purchase-info p {
    text-align: left;
    color: #009b8b;
  }

  .purchase-info h5 {
    text-align: left;
  }
